.App {
  /* text-align: center; */
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 600px 400px;
}

body {
  display: flex;
  justify-content: center;
  background-color: #000000;
  color: #d6d9db;
}

#main-container {
  border: 1.5px solid #202327;
}

/* Left Sidebar */
.sidebar-button {
  font-weight: 600;
  font-size: 20px;
  height: 60px;
}
