.App {
  /* text-align: center; */
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 600px 400px;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  background-color: #000000;
  color: #d6d9db;
  box-sizing: border-box;
  overflow: hidden;
}

#main-container {
  border: 1.5px solid #202327;
  cursor: pointer;
  overflow: scroll;
}

/* Left Sidebar */
#left-sidebar-container {
  padding: 5px 28px;
  height: 99vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.twitter-logo {
  padding-left: 16px;
}
.sidebar-button {
  cursor: pointer;
  padding: 0px 20px 2px 14px;
  display: flex;
  gap: 16px;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
  height: 50px;
  color: #d6d9db;
  border-radius: 30px;
  width: fit-content;
}

.sidebar-button > img,
.twitter-logo {
  height: 36px;
  width: 34px;
}

svg {
  stroke-width: 0.1;
  stroke: #d6d9db;
  fill: #d6d9db;
}

.large-tweet-button {
  height: 54px;
  margin-top: 20px;
  width: 100%;
  border-radius: 30px;
  justify-content: center;
}

.large-tweet-button > img {
  display: none;
}

.tweet-button {
  background-color: #328cd8;
  border: none;
  color: #d6d9db;
}

.profile-container {
  cursor: pointer;
  padding: 10px 18px 10px 14px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2px;
}

h4,
p {
  color: #71767b;
  font-size: 14px;
  margin: 0;
  font-weight: 500;
}
h4 {
  font-weight: 800;
  font-size: 15px;
}

.profile-container > div > h2 {
  font-size: 15px;
  font-weight: 800;
  margin-bottom: 4px;
}

.profile-container:hover,
.sidebar-button:hover {
  background-color: #202327;
}

.profile-container > div:first-child {
  display: flex;
  gap: 12px;
  align-items: center;
}

.tweet-button:hover {
  background-color: rgb(28, 132, 202);
}

.profile-image {
  border-radius: 25px;
  height: 44px;
  width: 44px;
}

.dots {
  width: 26px;
}

.profile-header > h4 {
  color: #d6d9db;
  margin-bottom: 2px;
}

.profile-header > h4:hover {
  text-decoration: underline;
}

.profile-container input {
  font-size: 13px;
  color: #e7e9ea;
  margin: 2px;
  border-radius: 4px;
  padding: 4px;
  background-color: transparent;
  border: none;
  outline: 1px solid #328cd8;
}

.image-submit {
  font-size: 13px;
  background-color: #328cd8;
  border: none;
  border-radius: 6px;
}

.image-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-form > div {
  display: flex;
  gap: 5px;
}
.image-form img {
  height: 20px;
}

/* RIGHT SIDEBAR */
#right-sidebar-container {
  overflow: scroll;
  padding-bottom: 20px;
}
.right-sidebar-box {
  margin: 12px 0 0 28px;
  background-color: #202327;
  border-radius: 20px;
}

.search-box {
  display: flex;
  align-items: center;
}
.search-icon {
  padding: 0 14px;
  height: 22px;
}

.right-sidebar-box > input {
  font-size: 15px;
  height: 40px;
  background-color: transparent;
  border: none;
  color: #71767b;
}

.event,
.follow {
  cursor: pointer;
  font-size: 14px;
  color: #71767b;
  padding: 16px 20px;
  border-radius: 0;
}

h2 {
  font-size: 20px;
  font-weight: 900;
  color: #e7e9ea;
  padding-top: 14px;
  margin: 0 20px 5px;
}
.event > h3 {
  color: #e7e9ea;
  margin: 2px 0;
  font-weight: 800;
}

.event:hover,
.follow:hover {
  background-color: rgba(255, 255, 255, 0.03);
}

.follow {
  display: flex;
  justify-content: space-between;
}

.small-button {
  cursor: pointer;
  border-radius: 25px;
  border: none;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 800;
}

.follow-button {
  cursor: pointer;
  justify-self: end;
  background-color: #e7e9ea;
  color: black;
}

.follow-button:hover {
  background-color: rgb(215, 219, 220);
}

.show-more {
  color: rgb(29, 155, 240);
  font-weight: 500;
}

/* Main Container */
.compose-tweet-container {
  padding: 20px 20px 4px 12px;
  display: flex;
  gap: 18px;
}

.compose-input-container > textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: white;
  font-weight: 600;
  caret-color: white;
  outline: none;
  resize: none;
  width: 100%;
}

.compose-tweet-container > div:first-of-type {
  width: 100%;
}

.compose-input-container {
  border-bottom: 1.5px solid #202327;
}

.compose-footer {
  padding: 10px 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.compose-footer > img {
  height: 24px;
}

.compose-tweet-photo img {
  height: 200px;
  width: auto;
}

.compose-tweet-popup {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 5vh;
  width: 600px;
  height: auto;
  border-radius: 20px;
  background-color: #000000;
  position: absolute;
}

.compose-tweet-popup > .sidebar-button {
  padding-top: 4px;
  padding-bottom: 0;
  height: 40px;
  margin-bottom: 0;
}

.compose-tweet-popup > .sidebar-button:hover {
  background-color: transparent;
}

.compose-tweet-popup > .sidebar-button > img {
  height: 22px;
  width: 22px;
}

.compose-tweet-popup > .compose-tweet-container {
  padding-top: 10px;
  border-bottom: none;
}

.interactions {
  display: flex;
  justify-content: space-between;
}

.interactions > div {
  display: flex;
  align-items: center;
  gap: 7px;
}

.interactions img {
  border: 2px solid transparent;
  padding: 6px;
  border-radius: 17px;
  height: 20px;
  color: #202327;
}

.post-container,
.compose-tweet-container {
  border-bottom: 1.5px solid #202327;
}

.interactions span {
  color: #71767b;
}
.post-container > div:nth-last-child(-n + 1) {
  padding: 0px 18px 14px 14px;
}

.post-container > .profile-container:hover {
  background-color: #000000;
}

.post-body {
  padding: 0;
}

.post-text {
  padding: 0px 18px 14px 14px;

  color: white;
  font-size: 16px;
}
.post-image {
  margin-bottom: 10px;
}
.post-image img {
  max-width: 100%;
}

.reply-button:hover,
.share-button:hover {
  filter: invert(67%) sepia(70%) saturate(5159%) hue-rotate(185deg)
    brightness(92%) contrast(83%);
  background-color: #328cd830;
}

.retweet-button:hover,
.retweeted {
  filter: invert(63%) sepia(30%) saturate(6801%) hue-rotate(122deg)
    brightness(91%) contrast(101%);
}

.retweet-button:hover {
  background-color: #00ba7c30;
}

.like-button:hover,
.liked {
  filter: invert(28%) sepia(83%) saturate(6896%) hue-rotate(322deg)
    brightness(102%) contrast(95%);
}

.like-button:hover {
  background-color: #f9188030;
}

.reply-container:hover span {
  color: #328cd8;
}

.retweet-container:hover span {
  color: #00ba7c;
}

.like-container:hover span {
  color: #f91880;
}

.popup {
  position: fixed;
  background: #6784a050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.popup-box > * {
  padding: 8px;
}

.popup-box > span {
  color: #f91880;
}

.popup-box {
  position: relative;
  width: 30%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  overflow: auto;
}

.popup-box + .click-here {
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 10%;
  width: 88px;
  height: 30px;
}

@media only screen and (max-width: 1250px) {
  .App {
    grid-template-columns: 100px 600px 350px;
  }
  /* Left sidebar collapse */
  .sidebar-button span {
    display: none;
  }

  .large-tweet-button {
    padding: 0;
    width: 54px;
    font-size: 12px;
  }

  .large-tweet-button > img {
    display: block;
  }

  #left-sidebar-container .profile-header,
  .dots {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .App {
    grid-template-columns: 100px 600px;
  }

  .large-tweet-button {
    width: 54px;
  }

  #left-sidebar-container .profile-header,
  #left-sidebar-container .dots,
  #right-sidebar-container {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .App {
    grid-template-columns: auto 1fr;
  }
  /* Left sidebar collapse */
  .sidebar-button span {
    display: none;
  }

  .large-tweet-button {
    width: 54px;
  }

  #left-sidebar-container {
    padding: 0;
  }

  #left-sidebar-container > div:first-of-type {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #left-sidebar-container h1,
  #left-sidebar-container div {
    text-align: center;
  }

  .twitter-logo {
    padding: 0;
  }

  .sidebar-button {
    width: 100%;
    padding: 0px 0px 2px 0px;
    display: flex;
    justify-content: center;
  }

  .large-tweet-button {
    width: 54px;
  }

  #left-sidebar-container .profile-header,
  #left-sidebar-container .dots,
  #right-sidebar-container {
    display: none;
  }
}
